body {
  margin: 0;
}

#left {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  width: 30%;
}

#right {
  float: left;
  padding-left: 1em;
  border-left: 1px solid #bbb;
  width: 60%;
  min-height: 100px;
}

#header {
  background-color: #ddd;
  margin: 0;
  padding: 1em;
  margin-bottom: 1em;
}

.article-row {
  border-bottom: 1px dashed #ccc;
  margin-top: 1em;
  padding-bottom: 0.5em;
}

.article-date {
  font-size: 0.9em;
  color: #666;
  padding: 0.5em 0;
}

.article-body {
  padding: 1em;
  white-space: pre-line;
  color: #333;
}

#new-article {
  margin-top: 2em;
}

.link {
  cursor: pointer;
}
